@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
    font-family: Arial, sans-serif;
    background-color: #cdf4f2;
  }
     
  h1 {
    text-align: center;
    margin-top: 50px;
    color:  #0CBABA;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
  }
  h2 {

    text-align: center;
    margin-top: 50px;
    color: rgb(2, 28, 28);
  
 }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
   
  }  
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
  }
  #try-again{
    display: none;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 10px;

  }
     
  button:active {
      transform: scale(0.95);
  }
  .ayuda{
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #0CBABA;
    color: #fff;
    border:#ccc;
    margin-top: 20px;
    border-radius: 10px;
  }
#informacion{
  display: none;
  width: 70%;
  height: 100%;
  margin: 0 auto 20px;
  background-color: #8fdcdc;
  color: #352929;
  transform: translateY(-90%);
  overflow: hidden;
  padding: 25px;
  border:#ccc;
  border-radius: 10px;
  
    }
  .letter {
      border: 1px solid black;
      padding: 5px;
      margin: 5px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
    text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }